//Developer: Trent Brew
//Description: Sassy CSS for fancy aesthetics

//--------------------------------variables------------------------------------

$navHeight: 80px; //Height of navigatoin bar
$navColor: #FFFFFF; //Color of navigation bar
$colorPrimary: #0288d1; //Main theme color
$colorPrimaryDark: #005b9f; //Color for subfooter
$bannerHeight: 650px; //Height of main banner
$topbarHeight: 30px;

//-----------------------------desktop styles----------------------------------

body {
  background-color: gray;
  margin: 0px;
  font-family: Roboto, sans-serif;

  h1, h2 {
    font-weight: lighter;
  }
}

::selection {
  color: black;
  //background: orange;
}

.service-box {
  padding: 100px;
  background-color: white;
  //height: 450px;
  //border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: black;

  .service-box-text h2 {
    font-size: 32px;
    margin-bottom: 40px;
    padding: 20px 0px 0px 40px;
    display: inline-flex;
    line-height: 60px;
    margin-right: 30px;
  }

  .quote-forms h2 {
    font-size: 32px;
    margin-bottom: 30px;
    padding: 0px 0px 0px 0px;
  }

  .service-box-text {
    //background-color: gray;
    //padding: 40px;
    line-height: 25px;
    color: rgba(black, 0.8);

    p {
      background-color: white;
      border-radius: 0px 0px 0px 15px;
      padding: 0px 40px 40px 40px;
      margin: 0px;
      color: rgba(black, 0.5);
      //width: 100%;
    }
  }

  .quote-forms {
    padding: 20px 40px 40px 40px;
    background-color: $colorPrimary;
    border-radius: 15px;
    color: white;
  }

  .form {
    background-color: white;
    width: 90%;
    height: 40px;
    margin: 10px 10px 0px 0px;
    border-radius: 10px;
    opacity: 0.6;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    transition: 300ms;

    &:hover {
      opacity: 1;
    }
  }

  .submit {
    width: 100px;
    float: left;
    height: 40px;
    border: 2px white solid;
    background-color: $colorPrimary;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    transition: 300ms;
    font-weight: bold;
    color: white;

    &:hover {
      background-color: white;
      color: $colorPrimary;
      cursor: pointer;
    }
  }

  #message {
    height: 100px;
    padding-top: 15px;
    resize: none;
  }

  .title-icon {
    //background-color: red;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    display: none;
  }

  #residential {
    background-image: url("../res/icons/house.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #commercial {
    background-image: url("../res/icons/business.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #automotive {
    background-image: url("../res/icons/car.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.single-page {
  position: relative;
  //border: red solid 2px;
  width: 100%;
  height: calc(100vh - 90px);
  background-color: $colorPrimary;

  .sub-footer {
    position: absolute;
    bottom: 0 !important;
  }

  .footer {
    position: absolute;
    bottom: 90px !important;
  }
}

.inner-container {
  background-color: red;
  width: 100%;
  height: auto;
}

.nav-secondary {
  position: fixed;
  height: $navHeight;
  width: 100%;
  background-color: white;
  //transition: 300ms;
  z-index: 10;
  top: $topbarHeight;
  //box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
  border-radius: 1px solid #BDBDBD;

  .nav-links {
    display: block;

    ul {
      display: inline-flex;
      list-style: none;
      height: $navHeight;
      margin: 0px 20px 0px 0px;
      float: right;
    }

    li {
      line-height: $navHeight;
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 14px;
      //transition: 300ms;
      padding: 0px 15px 0px 15px;
      font-weight: bold;
      transition: 500ms;

      &:hover {
        //background-color: rgba(black, 0.1);
      }
    }
  }
}

.nav .logo {
  position: absolute;
  background-image: url("../res/logo(white).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 200px;
  margin: auto;
  left: 0px;
  right: 0px;
  top: -450px;
  transition: 500ms;
  //border: solid 3 px #BDBDBD;
}

.nav-secondary .logo {
  position: absolute;
  background-image: url("../res/logo(dark).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 120px;
  height: 55px;
  margin: auto;
  left: 30px;
  right: 100%;
  top: 12px;
  //transition: 500ms;
}

.top-bar {
  display: inline-flex;
  position: fixed;
  width: 100%;
  height: $topbarHeight;
  margin: 0px;
  background-color: $colorPrimary;
  //background-image: linear-gradient(-213deg,$colorPrimary 22%,$colorPrimaryDark 100%);
  z-index: 15;
  color: white;
  line-height: $topbarHeight;
  padding-left: 10px;
  font-size: 14px;
  top:0px;

  .phone-icon {
    width: 22px;
    height: 22px;
    margin-top: 4px;
    background-image: url("../res/baseline_call_white_18dp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
  }

  .email-icon {
    width: 22px;
    height: 22px;
    margin-top: 4px;
    background-image: url("../res/baseline_email_white_18dp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.arrow-container {
    position: absolute;
    //background-color: black;
    width: 200px;
    height: 150px;
    margin: auto;
    top: 350px;
    left: 0px;
    right: 0px;
    bottom: 0;
    opacity: 0.6;
  }

  .arrow {
    opacity: 0;
    position: relative;
    left: 42%;
    top: 65%;
    transition: visibility 500ms linear;
  }

  .arrow1 {
    animation: arrow-movement 2s ease-in-out infinite;
  }
  .arrow2 {
    animation: arrow-movement 2s 1s ease-in-out infinite;
  }

  .arrow:before,
  .arrow:after {
    background: white;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
  }

  .arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
  }

  .arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
  }

  // Animation
  @keyframes arrow-movement {
    0% {
      opacity: 0;
      top: 45%;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.banner-container {
  position: absolute;
  top: $topbarHeight;
  background: linear-gradient($colorPrimary);
  //background-image: url("../res/banner-background.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: $bannerHeight;
  width: 100%;

  &:after {
    //background-image: linear-gradient(-213deg,$colorPrimary 22%,$colorPrimaryDark 100%);
  }

  .subtitle {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    color: white;
    top: 280px;
    width: 600px;
    line-height: 25px;
  }

  .banner-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  #call {
    background-color: white;
    color: $colorPrimary;

    &:hover {
      //background-color: rgba(0,0,0,0.5);
      //border-color: rgba(0,0,0,0);
      //color: white;
      border-radius: 60px;
    }
  }

  .i-home-active {
    background-color: white !important;
  }

  .banner-button {
    position: relative;
    //background-color: $colorPrimary;
    width: 130px;
    height: 40px;
    text-align: center;
    color: white;
    line-height: 40px;
    font-weight: bolder;
    border-radius: 10px;
    border: solid white 2px;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 390px;
    transition: 300ms;

    &:hover {
      //background-color: white;
      //color: $colorPrimary;
      cursor: pointer;
      border-radius: 60px;
      //width: 160px;
    }
  }
}

.nav {
  position: absolute;
  background-color: rgba(white, 0);
  height: $navHeight;
  width: 100%;
  //transition: 300ms;
  z-index: 10;
  top: $bannerHeight - $navHeight;

  .nav-links {
    display: block;

    ul {
      display: inline-flex;
      list-style: none;
      height: $navHeight;
      margin: 0px 20px 0px 0px;
      float: right;
    }

    li {
      line-height: $navHeight;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 14px;
      //transition: 300ms;
      padding: 0px 15px 0px 15px;
      font-weight: bold;
      //transition: 500ms;

      &:hover {
        //background-color: rgba(black, 0.1);

      }
    }
  }
}

.indicator {
  background-color: black;
  height: 6px;
  width: 10px;
  margin-top: -6px;
  border-radius: 10px 10px 0px 0px;
  transition: 300ms;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.i-home {
  background-color: white;
}

.i-home-active {
  background-color: white;
}

.active {
  width: 100%;
  background-color: $colorPrimary;
  opacity: 1;
}

.content {
  position: absolute;
  top: 100px;
  left: 0px;
  right: 0px;
  margin: auto;
  background-color: #E0E0E0;
  width: 100%;
}

.content-home {
  position: absolute;
  top: $bannerHeight;
  left: 0px;
  right: 0px;
  margin: auto;
  background-color: #E0E0E0;
  width: 100%;
  //height: 5000px;

  h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
    opacity: 0.4;
  }

  .content-row {
    width: 70%;
    margin: 45px auto;
    height:auto;
    left: 0px;
    right: 0px;
    //background-color: gray;
  }

  #why-us {
    //background-color: gray;
    width: 100%;
    height: 300px;
    margin-bottom: 120px;
  }

  #services {
    width: 100%;
    height: 300px;
    margin-bottom: 120px;

    .divider {
      background-color: rgba(black, 0.2);
      width: 70%;
      height: 2px;
      margin: 80px auto 80px auto;
      text-align: center;
      line-height: 0px;

      span {
        background-color: #E0E0E0;
        font-size: 28px;
        padding: 0px 40px 0px 40px;
        color: rgba(black, 0.3);
      }
    }
  }

  .card-container {
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    a {
      text-decoration: none !important;

      h2 {
        color: black;
      }
    }

    .hoverable {
      background-color: white;
      padding: 20px 35px 30px 35px;

      &:hover {
        background-color: $colorPrimary;
        //box-shadow: 0px 10px 25px 0px rgba($colorPrimary, 0.5);
        margin-top: -10px;
        cursor: pointer;

        .icon {
          //opacity: 0.5;
        }

        h2 {
          //opacity: 0.5;
          color: white;
        }

        p {
          color: rgba(white, 0.7);
          //background-color: $colorPrimary;
        }
      }
    }

    .card {
      border-radius: 15px;
      //box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.08);
      transition: 500ms;
      text-align: center;
      line-height: 25px;

      h2 {
        transition: 500ms;
        font-size: 28px;
      }

      p {
        color: rgba(black,0.5);
        transition: 500ms;
        border-radius: 0px 0px 25px 25px;
        //padding: 0px 20px 20px 20px;
      }

      .icon {
        width: 80px;
        height: 80px;
        //background-color: gray;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: 500ms;
        opacity: 0.9;
      }

      #residential {
        background-image: url("../res/icons/house.png");
      }

      #automotive {
        background-image: url("../res/icons/car.png");
      }

      #commercial {
        background-image: url("../res/icons/business.png");
      }

      #hours {
        background-image: url("../res/icons/clock.png");
      }

      #support {
        background-image: url("../res/icons/key.png");
      }

      #mobile {
        background-image: url("../res/icons/mobile.png");
      }
    }

    #card1:hover {
      .icon {
        background-image: url("../res/house(white).png");
      }
    }

    #card2:hover {
      .icon {
        background-image: url("../res/car(white).png");
      }
    }

    #card3:hover {
      .icon {
        background-image: url("../res/business(white).png");
      }
    }
  }

  .about-us {
    background-color: white;
    //height: 450px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: black;

    .about-us-text h2 {
      font-size: 32px;
      margin-bottom: 40px;
      padding: 20px 0px 0px 40px;
    }

    .quote-forms h2 {
      font-size: 32px;
      margin-bottom: 30px;
      padding: 0px 0px 0px 0px;
    }

    .about-us-text {
      //background-color: gray;
      //padding: 40px;
      line-height: 25px;
      color: rgba(black, 0.8);

      p {
        background-color: white;
        border-radius: 0px 0px 0px 15px;
        padding: 0px 40px 40px 40px;
        margin: 0px;
        color: rgba(black, 0.5);
        //width: 100%;
      }
    }

    .quote-forms {
      padding: 20px 40px 40px 40px;
      background-color: $colorPrimary;
      //background-image: linear-gradient(-213deg,$colorPrimary 22%,$colorPrimaryDark 100%);
      border-radius: 0px 15px 15px 0px;
      color: white;
    }

    .form {
      background-color: white;
      width: 90%;
      height: 40px;
      margin: 10px 10px 0px 0px;
      border-radius: 10px;
      opacity: 0.6;
      border: none;
      padding-left: 20px;
      padding-right: 20px;
      transition: 300ms;

      &:hover {
        opacity: 1;
      }
    }

    .submit {
      width: 100px;
      float: left;
      height: 40px;
      border: 2px white solid;
      background-color: rgba(black, 0);
      border-radius: 10px;
      margin-top: 10px;
      text-align: center;
      transition: 300ms;
      font-weight: bold;
      color: white;

      &:hover {
        background-color: white;
        color: $colorPrimary;
        cursor: pointer;
      }
    }

    #message {
      height: 100px;
      padding-top: 15px;
      resize: none;
    }
  }

  #testimonials {
    //background-color: #BDBDBD;
    width: 100%;
    background-color: white;
    padding-bottom: 60px;
    padding-top: 40px;
    margin-bottom: 0px;
    margin-top: 150px;
    //border-radius: 900px 900px 0px 0px;

    h1 {
      margin: 70px;
      font-size: 28px;
    }

    .reviews-container {
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0px;
    }

    #review1 {
      border-radius: 15px 0px 0px 15px;

      .reviewer-photo {
        background-image: url("../res/user1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    #review2 {
      border-radius: 0px;

      .reviewer-photo {
        background-image: url("../res/user2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    #review3 {
      border-radius: 0px;

      .reviewer-photo {
        background-image: url("../res/user3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    #review4 {
      border-radius: 0px 15px 15px 0px;

      .reviewer-photo {
        background-image: url("../res/user4.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .review {
      background-color: white;
      //border-radius: 15px;
      text-align: center;
      padding: 50px 0px 30px 0px;

      .reviewer-photo {
        background-color: black;
        height: 80px;
        width: 80px;
        border-radius: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      .stars-container {
        display: inline-flex;
      }

      .star {
        margin: 5px;
        height: 20px;
        width: 20px;
        background-image: url("../res/icons/star(yellow).png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      h2 {
        font-size: 20px;
      }

      p {
        background-color: white;
        color: rgba(black, 0.6);
        border-radius: 0px 0px 15px 15px;
        padding: 0px 40px 0px 40px;
      }
    }
  }

  #icons {
    background-color: #BDBDBD;
  }

} //end of content

.footer {
  background-color: $colorPrimary;
  //background-image: linear-gradient(-213deg,$colorPrimary 22%,$colorPrimaryDark 100%);
  width: 100%;
  margin: 0px;
  height: 300px;

  .bubble-container {
    display: inline-flex;
  }

  h3 {
    color: rgba(black, 0.4);
  }

  .social-bubble {
    //background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
    transition: 300ms;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  #facebook {
    background-image: url("../res/icons/fb.svg");
  }

  #google-plus {
    background-image: url("../res/icons/gplus.svg");
  }

  #twitter {
    background-image: url("../res/icons/twitter.svg");
  }

  .footer-logo {
    //background-color: red;
    width: 180px;
    height: 90px;
    background-image: url("../res/logo(white).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    text-decoration: none;
    color: white;

    &:hover {
      opacity: 0.6;
    }
  }

  ul {
    list-style: none;

    li {
      margin: 10px 10px 10px 0px;
    }
  }

  .inner-footer {
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
  }
}

.sub-footer {
  background-color: $colorPrimaryDark;
  width: 100%;
  margin: 0px;
  height: 90px;
  color: white;
  line-height: 90px;
  text-align: center;
  font-size: 14px;

  a {
    color: white;
    text-decoration: none;
    opacity: 1;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    padding-left: 10px;
    opacity: 0.7;
  }
}

#banner-residential {
  /*background: url("../res/banner2(dark).jpg") no-repeat center fixed;
  background-size: cover;*/
}

#banner-commercial {
  /*background: url("../res/banner1.jpg") no-repeat center fixed;
  background-size: cover;*/
}

#banner-automotive {
  /*background: url("../res/banner3(dark).jpg") no-repeat center fixed;
  background-size: cover;*/
}

.banner-secondary {
  background: linear-gradient($colorPrimary, $colorPrimaryDark) !important;
  width: 100%;
  height: 500px;
  margin-top: $navHeight + $topbarHeight;

  p {
    text-align: center;
    padding-top: 280px;
    color: white;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
  }

  .title-icon {
    //background-color: red;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    opacity: 0.5;
  }

  #residential {
    background-image: url("../res/icons/house.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(1);
  }

  #commercial {
    background-image: url("../res/icons/case.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(1);
  }

  #automotive {
    background-image: url("../res/icons/bus.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(1);
  }

  #home {
    background-image: url("../res/icons/lock.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(1);
  }


  .inner-banner {
    position: absolute;
    //background-color: red;
    height: 100px;
    width: 750px;
    margin: auto;
    left: 0;
    right: 0;
    top: 200px;
    line-height: 120px;
    color: white;
    font-weight: bold;
    font-size: 40px;

    h2 {
      display: inline-flex;
    }
  }
}

.contact-box {
  background-color: $colorPrimary;
  border-radius: 0px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  span {
    color: white;
    font-weight: lighter;
    font-size: 28px;
  }

  h3 {
    color: white;
    //font-weight: lighter !important;
    display: inline-flex;
    font-size: 28px;
    margin-bottom: 0px !important;
    line-height: 60px;
  }

  .service-box-text {
    padding-top: 80px;
    padding-left: 120px;
    width: 400px;
  }

  .title-icon {
    display: block !important;
    filter: invert(1);
    //border-radius: 100%;
  }

  #contact-phone {
    background-image: url("../res/baseline-call-24px.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }

  #contact-email {
    background-image: url("../res/baseline-email-24px.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
  }

  .service-box-text p {
    background-color: $colorPrimary;
    color: white;
  }
}

.contact-content {
  background-color: $colorPrimary;
  padding-bottom: 70px !important;

  .bubble-container {
    text-align: center;
    //background-color: red;
    float: left;
    margin-top: 35px;
  }

  .bubbles-inner {
    display: inline-flex;
  }

  h3 {
    color: rgba(black, 0.4);
  }

  .social-bubble {
    //background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 15px;
    transition: 300ms;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  #facebook {
    background-image: url("../res/icons/fb.svg");
  }

  #google-plus {
    background-image: url("../res/icons/gplus.svg");
  }

  #twitter {
    background-image: url("../res/icons/twitter.svg");
  }
}

.mobile-banner {
  display: none;
}

//----------new banner animation----------

body {
  background: #2688d1;
}

/* leaf animations */

#leaves {
  position: relative;
  top: -100px;
  width: 100%;
  text-align: left;
}

#leaves i {
    display: inline-block;
    width: 200px;
    height: 200px;
    z-index: 1;
    -webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) {
  -webkit-animation: falling2 5s 0s infinite;
}

#leaves i:nth-of-type(3n) {
  -webkit-animation: falling3 5s 0s infinite;
}

#leaves i:nth-of-type(n) { height:23px; width:30px; }
#leaves i:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
#leaves i:nth-of-type(n):after { width:2px; height:17px; left: 12px; top:0px; }

#leaves i:nth-of-type(2n+1)    { height:40px; width:40px; }
#leaves i:nth-of-type(2n+1):before { width:20px; height:20px; top:7px; left:0px; }
#leaves i:nth-of-type(2n+1):after { width:2px; height:6px; right: 5px; top:1px; }

#leaves i:nth-of-type(3n+2)  { height:17px; width:23px; }
#leaves i:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; left:1px; }
#leaves i:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; right:8px; }

#leaves i:nth-of-type(n)   { -webkit-animation-delay: 1.9s;}
#leaves i:nth-of-type(2n)  { -webkit-animation-delay: 3.9s;}
#leaves i:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
#leaves i:nth-of-type(4n)  { -webkit-animation-delay: 4.4s;}
#leaves i:nth-of-type(5n)  { -webkit-animation-delay: 5s;  }
#leaves i:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
#leaves i:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
#leaves i:nth-of-type(8n)  { -webkit-animation-delay: 1.5s;}
#leaves i:nth-of-type(9n)  { -webkit-animation-delay: 3.3s;}
#leaves i:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
#leaves i:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
#leaves i:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
#leaves i:nth-of-type(13n) { -webkit-animation-delay: 1s;  }
#leaves i:nth-of-type(14n) { -webkit-animation-delay: 4.7s;}
#leaves i:nth-of-type(15n) { -webkit-animation-delay: 3s;  }

#leaves i:nth-of-type(n) {
  background-image: url("https://openclipart.org/image/2400px/svg_to_png/310568/1542668334.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(1);
}

#leaves i:nth-of-type(2n+2) {
  background-image: url("http://simpleicon.com/wp-content/uploads/key-5.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(1);
}

#leaves i:nth-of-type(4n+1) {
  background-image: url("https://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/104-512.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(1);
}

#leaves i:nth-of-type(n) { opacity: .7;}
#leaves i:nth-of-type(3n+1) { opacity: .5;}
#leaves i:nth-of-type(3n+2) { opacity: .3;}

#leaves i:nth-of-type(n) {transform: rotate(180deg);}

#leaves i:nth-of-type(n) {-webkit-animation-timing-function:ease-in-out;}

@-webkit-keyframes falling {
  0% {
    -webkit-transform:
    translate3d(300,0,0)
    rotate(0deg);
  }

  100% {
    -webkit-transform:
    translate3d(350px,700px,0)
    rotate(90deg);
    opacity: 0.3;
  }
}

@-webkit-keyframes falling3 {
  0% {
    -webkit-transform:
    translate3d(0,0,0)
    rotate(-20deg);
  }

  100% {
    -webkit-transform:
    translate3d(230px,640px,0)
    rotate(-70deg);
    opacity: 0;
  }
}

@-webkit-keyframes falling2 {
  0% {
    -webkit-transform:
    translate3d(0,0,0)
    rotate(90deg);
  }

  100% {
    -webkit-transform:
    translate3d(400px,680px,0)
    rotate(0deg);
    opacity: 0.3;
  }
}

//------------------------------mobile styles----------------------------------

@media only screen and (max-width: 768px) {
  body {
    background-color: white;
  }

  .top-bar {
    font-size: 9px;
  }

  .subtitle {
    display: none;
  }

  #call {
    top: 340px;
  }

  #quote {
    top: 340px;
  }

  #banner-commerial {
    background-color: $colorPrimary;
    background-image: none;
  }

  .logo {
    position: absolute;
    background-image: url("../res/logo(dark).png") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100px !important;
    height: 55px !important;
    margin: auto !important;
    left: 30px !important;
    right: 100% !important;
    top: 15px !important;
    transition: 500ms;
  }

  .banner {
    display: none;
  }

  .nav, .nav-secondary {
    position: fixed;
    background-color: $navColor;
    height: $navHeight;
    width: 100%;
    text-align: center;
    top: $topbarHeight;
    //box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.2);
    transition: 300ms;
    z-index: 20;

    .nav-links {
      display: none;
      opacity: 1;

      .indicator {
        opacity: 0;
      }

      ul {
        display: block;
        list-style: none;
        height: $navHeight;
        position: absolute;
        margin: auto;
        left: 0px;
        right: 0px;
        top: $navHeight + 60px;
        padding: 0px;
      }

      li {
        line-height: $navHeight;
        margin-left: auto;
        margin-right: auto;
        transition: 300ms;

        &:hover {
          background-color: rgba(black, 0.1);
        }
      }

      a {
        text-decoration: none;
        color: black;
        padding: 0px;
        font-size: 18px;
        font-weight: bolder;
      }
    }

    .menu-button {
      position: absolute;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      background-image: url("https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png");
      background-size: 20px 20px;
      background-position: center;
      background-repeat: no-repeat;
      right: 10px;
      top: 20px;
      margin: 0px 20px 0px 0px;
      transition: 300ms;
      cursor: pointer;

      &:hover {
        background-color: rgba(black, 0.1);
      }
    }
  }

  .content-home {
    width: 100%;
    padding-top: 20px;
    top: 350px + $navHeight + $topbarHeight;
  }

  .card-container {
    position: relative;
    margin-top: 850px;
    width: 85% !important;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 0px !important;
    //margin-left: auto !important;
    //margin-right: auto !important;

    .card {
      //height: 250px !important;
      padding-left: 30px !important;
      padding-right: 30px !important;
      margin-bottom: 30px;

      #card1 {
        //margin-top: 100px !important;
      }

      &:hover {
        margin-top: 0px !important;
      }

      h2 {
        font-size: 18px !important;
        font-weight: bold;
      }

      .icon {
        width: 40px !important;
        height: 40px !important;
        margin-top: 0px !important;
      }
    }
  }

  .hoverable {
    padding-top: 40px !important;
  }

  .about-us {
    margin-top: 820px !important;
    grid-template-columns: 1fr !important;
    position: relative;
    text-align: center;
    width: 85% !important;

    h2 {
      font-size: 24px !important;
      font-weight: bold;
      padding: 20px 0px 0px 0px !important;
    }

    .about-us-text {
      border-radius: 15px 15px 0px 0px;

      p {
        background-color: white;
        border-radius: 0px !important;
        padding-bottom: 30px;
      }
    }

    .form {
      padding-right: 0px !important;
      margin-right: 0px !important;
    }

    .quote-forms {
      margin-top: 0px;
      border-radius: 0px 0px 15px 15px !important;
    }
  }

  .service-box {
    //margin-top: -50px !important;
    padding: 30px 0px 30px 0px;
    grid-template-columns: 1fr !important;
    position: relative;
    text-align: center;
    width: 85% !important;
    margin-left: auto;
    margin-right: auto;

    .quote-forms {
      padding-bottom: 110px !important;
    }

    .service-box-text {
      border-radius: 15px 15px 0px 0px;

      h2 {
        font-size: 24px !important;
        font-weight: bold;
        padding-left: 0px;
        margin: 0px 0px 30px 0px;
      }

      p {
        background-color: white;
        border-radius: 0px !important;
        padding-bottom: 60px;
      }
    }

    .quote-forms {
      margin-top: 0px;
      border-radius: 15px !important;

      h2 {
        font-size: 24px;
        font-weight: bold;
      }
    }

    .form {
      padding-right: 0px;
      margin-right: 0px;
    }

    .title-icon {
      //display: block !important;
      padding: 0px;
      margin: 0px;
    }
  }

  .reviews-container {
    grid-template-columns: 1fr !important;
  }

  .footer {
    height: auto;
    text-align: center;
    padding-bottom: 80px;
    //background-color: yellow;
  }

  ul {
    padding: 0px;
  }

  .inner-footer {
    grid-template-columns: 1fr !important;

    .footer-logo {
      margin-bottom: 40px;
      background-size: cover;
    }
  }

  .sub-footer {
    font-size: 9px;
    position: relative !important;
    margin: 0px;
    z-index: 15;
  }

  #why-us { //u gotta go son
    //background-color: black;
    height: auto !important;
  }

  #testimonials {
    position: relative;
    margin-top: 680px !important;

    h1 {
      margin: 40px !important;
    }

    .reviews-container {
      width: 85% !important;
    }
  }

  .content-row {
    //background-color: gray;
    //height:fit-content;
    display: block;
    overflow: auto;
  }

  .banner-secondary {
    display: block;
    width: 100%;
    height: 350px !important;
    background-attachment: fixed;

    h2 {
      font-size: 24px;
      font-weight: bold;
      color: white;
    }

    .title-icon {
      width: 55px;
      height: 55px;
      margin-right: 10px;
    }

    .inner-banner {
      width: 90%;
      line-height: 55px;
      top: 140px;
      text-align: center;
    }

    p {
      width: 60%;
      padding-top: 135px;
      opacity: 0.8;
    }
  }

  .contact-box {
    width: 80%;
    margin: 0px;
    padding-top: 50px;
    line-height: 40px;

    span {
      font-size: 18px;
      line-height: 40px;
      margin-left: 15px;
    }

    .service-box-text {
      padding: 0px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }

    .bubble-container {
      margin: 40px auto auto auto;
      width: 100%;
    }

    .social-bubble {
      width: 30px;
      height: 30px;
    }

    .title-icon {
      height: 40px;
      width: 40px;
    }

    h3 {
      display: block;
      font-size: 24px;
      margin-left: 0px;
      margin-right: 0px;
    }

    h2 {
      color: rgba(black, 0.4);
      font-size: 24px !important;
      font-weight: bold;
    }
  }

  .submit {
    width: 100% !important;
    height: 60px !important;
  }

  .single-page {

  }

  .divider {
    height: 1px !important;

    span {
      font-size: 20px !important;
    }
  }

  .mobile-banner {
    display: block;
    height: 350px;
    width: 100%;
    margin-top: $navHeight + $topbarHeight;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

//--------------------------------tablet styles--------------------------------

/*@media only screen and (max-width: 1000px) {
  body {
    background-color: red !important;
  }
}*/
